.button {
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all var(--animation);
  padding: 18px 61px 17px 61px;
  border: 2px solid var(--color-result);
  color: var(--color-result);
  background: none;
}

.button--primary {
  padding: 15px 36px 14px 37px;
  border: none;
  margin-left: auto;
  margin-bottom: -32px;
  background-color: var(--color-hover);
  color: var(--color-white);
  box-shadow: 0px 2px 4px var(--color-shadow);
}

.button:hover {
  opacity: 0.7;
}
