.quiz {
  position: relative;
  max-width: 464px;
}

.quiz__header {
  color: var(--color-header-text);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-transform: uppercase;
}

.quiz__logo {
  position: absolute;
  content: '';
  display: block;
  top: -20px;
  right: 0;
}

.quiz__body {
  background-color: var(--color-white);
  border-radius: 24px;
  display: grid;
  grid-template-columns: minmax(0, 464px);
  min-height: 515px;
  place-items: center;
}

@media (max-width: 768px) {
  .quiz__header {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .quiz__body {
    min-height: 400px;
  }
}
