.question {
  padding: 68px 32px 64px 32px;
  display: grid;
  row-gap: 25px;
}

.question__flag {
  width: 84px;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
}

.question__header {
  color: var(--color-question-text);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
